* {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(36, 36, 36);
}
body {
  background-color: rgb(235, 232, 185);
}
.container {
  width: 80%;
  margin: 0 auto;
}
.main-menu {
  list-style-type: none;
}
.menu-button {
  display: none;
}
.main-menu-mobile {
  display: none;
}
.menu-item {
  display: inline-block;
  padding: 15px;
}
.menu-item a {
  text-decoration: none;

  text-align: center;
}
.menu-item a:hover {
  color: tomato;
  border-bottom: 1px solid tomato;
}
.logo {
  padding-left: 20px;
  padding-top: 10px;
}
.logo h1 {
  margin: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.navigation {
  text-align: center;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.navigation-logo-and-button {
  display: flex;
  justify-content: space-between;
}
.hero {
  background-image: url(vegetables.jpg);
  height: 600px;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero h1 {
  color: white;
  padding: 60px;
  font-size: 4em;
}
.article {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}
.title {
  text-align: center;
}
.blog {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}
.cards {
  display: flex;
}
.card-text {
  padding: 10px;
  margin: 0 40px;
}
.card-title {
  padding-left: 10px;
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: tomato;
}
.card img {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  max-width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {

  .navigation-logo-and-button {
    width: 100%;
  }

  .navigation {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-button {
    background-color: rgb(235, 232, 185);
    display: flex ;
    align-items: center;
    justify-content: center;
  }

  .main-menu {
    display: none;
  }

  .menu-item {
    padding-left: 0;
  }
  .main-menu-mobile.active {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    padding-left: 0;
    padding-top: 0;
  }

  .logo h1 {
    font-size: 1em;
  }

  .hero {
    height: 300px;
  }

  .cards {
    flex-wrap: wrap;
  }

  .hero h1 {
    font-size: 2em;
  }

  .article {
    width: 100%;
  }

  .blog {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {

}